<ng-container *ngIf="componentViewer.componentDocItem | async; let docItem">
  <h2 class="cdk-visually-hidden" tabindex="-1" #initialFocusTarget>
    {{docItem?.id}} 概览
  </h2>
  <doc-viewer
      documentUrl="/docs-content/overviews/{{docItem?.packageName}}/{{docItem?.id}}.html"
      class="docs-component-view-text-content docs-component-overview"
      (contentRendered)="updateTableOfContents('Overview Content', $event)">
  </doc-viewer>
  <table-of-contents #toc container=".mat-drawer-content" *ngIf="showToc | async"></table-of-contents>
</ng-container>
